.info {
}

.mappable {
}

.fadeOut {
    transition-property: all;
    transition-duration: 1s;
    opacity: 0;
    background-color: rgb(128, 128, 128);
    transition-timing-function: ease-out;
    scale: 0 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.closeHorizontal {
    transition-property: scale;
    transition-duration: 0.05s;
    opacity: 1;
    background-color: rgb(128, 128, 128);
    transition-timing-function: ease-out;
    scale: 0.2 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.openHorizontal {
    transition-property: scale;
    transition-duration: 0.1s;
    opacity: 1;
    background-color: rgb(128, 128, 128);
    transition-timing-function: ease-in;
    scale: 1 1;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.fadeIn {
    transition-property: all;
    transition-duration: 0.5s;
    background-color: rgb(255, 0, 0);
    transition-timing-function: ease;
}

.section {
    background-color: var(--unity-colors-box-background);
}

.menu-tabs:hover {
    max-width: none;
    width: 111px;
    transform-origin: center;
    scale: 12 1;
    translate: 0 0;
    min-width: auto;
    background-color: rgb(255, 244, 244);
}

.task-progress-bar {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.task-progress-bar > .unity-progress-bar__background {
    padding: 0;
    margin: 0;
}

.task-progress-bar > .unity-progress-bar__progress {
    padding: 0;
    margin: 0;
    background-color: rgb(255, 0, 0);
}

.profile-picture {
    width: 32px;
    max-width: 32px;
    max-height: 32px;
    height: 32px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    min-width: 32px;
    min-height: 32px;
    margin-left: 0;
    margin-right: 8px;
    margin-top: 0;
    margin-bottom: 0;
    background-image: resource('user_sample');
}

.task-tab {
    margin-right: 3px;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: rgb(255, 255, 255);
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 64px;
    color: rgb(255, 255, 255);
    max-width: 100%;
    width: auto;
    flex-grow: 1;
}

.windowbar {
}

.landmarkable {
    opacity: 0.75;
    position: absolute;
    width: auto;
    height: auto;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    transition-timing-function: ease-out-bounce, ease-out;
    -unity-text-outline-width: 0;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    transition-property: scale, background-color;
    transition-duration: 1s, 1s;
    scale: 0.25 0.25;
    background-color: rgb(255, 0, 10);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 0, 2);
    border-right-color: rgb(255, 0, 2);
    border-top-color: rgb(255, 0, 2);
    border-bottom-color: rgb(255, 0, 2);
}

.landmarkable:hover {
    opacity: 1;
    position: absolute;
    width: 64px;
    height: 64px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    transition-timing-function: ease;
    -unity-text-outline-width: 0;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    transition-duration: 0.1s;
    transition-property: all;
    scale: 1 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
}

.scalewithopacity:hover {
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    scale: 2 2;
    opacity: 1;
}

.scalewithopacitytrackedrender {
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    scale: 1 1;
    opacity: 0.75;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.scalewithopacitytrackedrender.expanded {
    scale: 20 20;
    opacity: 1;
}

.scalewithopacitytrackedrender:hover {
    opacity: 1;
}

.scalewithopacity {
}

.screenshotable {
    opacity: 0.75;
    position: absolute;
    width: auto;
    height: auto;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    transition-timing-function: ease-out-bounce, ease-out;
    -unity-text-outline-width: 0;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    transition-property: scale, background-color;
    transition-duration: 1s, 1s;
    scale: 0.25 0.25;
    background-color: rgb(239, 255, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    border-left-color: rgb(255, 0, 2);
    border-right-color: rgb(255, 0, 2);
    border-top-color: rgb(255, 0, 2);
    border-bottom-color: rgb(255, 0, 2);
}

.screenshotable:hover {
    opacity: 1;
    position: absolute;
    width: 64px;
    height: 64px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
    transition-timing-function: ease;
    -unity-text-outline-width: 0;
    -unity-slice-left: 0;
    -unity-slice-top: 0;
    -unity-slice-right: 0;
    -unity-slice-bottom: 0;
    transition-duration: 0.1s;
    transition-property: all;
    scale: 1 1;
    background-color: rgba(255, 255, 255, 0.1);
    border-left-color: rgba(255, 255, 255, 0);
    border-right-color: rgba(255, 255, 255, 0);
    border-top-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0);
}
